<nav id="mainNavBar" class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand text-uppercase" href="#">Community Library</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-lowercase" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link mx-2" href="/about">About</a>
        <a class="nav-link mx-2" href="/books">Library</a>
        <a class="nav-link mx-2" href="/books/new">Add Book</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) { %> 
        <a class="nav-link mx-2" href="/login">Login</a>
        <a class="nav-link mx-2" href="/register">Register</a>
        <% } else{ %> 
        <a class="nav-link mx-2" href="/cart">My Cart</a>
        <a class="nav-link mx-2" href="/logout">Logout</a>
        <% } %> 
      </div>
    </div>
  </div>
</nav>