<% layout('/layouts/boilerplate') %>
<%- include('./partials/navbar') %> 
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-lg-6 p-5 mt-1">
            <img src="https://images.unsplash.com/photo-1606708392532-05472dbc94bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="d-block w-100" alt=""> 
        </div>
        <div class="col-lg-6 text-center p-5">
            <h1 class="mt-5">Hi! Thank you for joining Community Library.</h1>
            <p class="mt-5 text-start">Inspired by the tiny libraries that have become popular over the past few years, this app was developed to 
                connect people to books and each other. The intent is to have an online space for book-swapping- not to sell books!
                Please feel free to browse the books posted as you wish. You will need an account if you'd like to place books 
                in your cart or to request that the owner send them to you. If you request a book, you will need to submit an address 
                so that the owner of the book is able to send it to you. If there are any questions or concerns, please email admin@community-library.co.
                Happy reading!
            </p>
        </div>
    </div>
</div>