body{
    font-family: "Nunito", sans-serif;
    background-color: #cad2c5;
}

h1{
    color: #472d30
}

 .alert {
    position: fixed; 
    z-index: 3;
    top: 10%;
    right: 5%; 
}
    
.btn {
    /* color: #84a98c; */
    border-color: #84a98c;
}

.btn-lg {
    color: #472d30;
    border-color: #472d30;
}

.btn-show, .btn-danger {
    color:white;
    border: none;
}

.btn-index:hover, .check-out:hover, .btn-block:hover {
    background-color: #84a98c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #472d30;
    transform: translateY(-0.25em);
    transition: 500ms;
    cursor: pointer;
}

.information {
    position: relative;
}
  
.information:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: rgb(238, 234, 234);
    color: grey;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
  
.information:hover:before {
    opacity: 1;
    visibility: visible;
}

#mainNavBar, #navbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavBar .nav-link, #navbar .nav-link{
    color: white;
}

#mainNavBar .nav-link:hover, #navbar .nav-link:hover{
    /* color: rgb(230, 230, 230); */
    color: rgb(220, 220, 220);
    /* text-decoration:underline overline; */
}

#navbar{
    background: #84a98c;
    
    /* background: #52796f; */
}

#background-pic {
    max-width: 100%;
    margin: 0px;
    height: 625px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1465929639680-64ee080eb3ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    z-index:1
}

.navbar.scrolled{
    background: #84a98c;
    /* background: #52796f; */
    transition: background 500ms;
}

